@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+QingKe+HuangYou&display=swap");

// fonts 

$head_font: "Permanent Marker", cursive;
$body_font: "Lemonada", cursive;
$footer_font: "ZCOOL QingKe HuangYou", cursive;